{% extends 'base.html' %}

{% block content %}
<div class="container">
    
    <header class="row">
        <div class="col-12 col-md-5" id="header-text">
            <h2>View our links below!</h2>
            <h5>CLICK HERE!!!!!</h5>
            <div> 
                <button class="btn btn-primary">View Our Docs</button>
                <button class="btn btn-primary">Join Our Slack</button>
            </div>
        </div>
        
        <div class="col-12 col-md-7">
            <img src="../static/Image/jojo-bizarre-adventure - Copy.png" alt="Hero Header Image" class="header-img">
        </div>
    </header>
  
    <section class="row">
        <div class="col-12" id="middle-text">
            <h2>Stands ablility and attack power!</h2>
            <p>Increase your attack power to unlock Diamond is Unbreakable!</p>
        </div>
    </section>
   
    <section class="row" id="features-section">
        <div class="col-12 col-md-4">
            <img src="../static/Image/ojo-Background-PNG - Copy.png" alt="jojo Image" id="jojo-image">
            <h4>jojo</h4>
            <p>
                jojo sign up page and current Stand!
            </p>
        </div>
        <div class="col-12 col-md-4">
            <img src="https://i.pinimg.com/736x/34/43/67/344367ffa26a0bf308806ed9f55613bc.jpg" alt="" id="graphql-image">
            <h4>Star platinum</h4>
            <p>
                Come here to sign up for extra training and mastery of your stand!
            </p>
        </div>
         <div class="col-12 col-md-4">
            <img src="../static/Image/79-797242_jotaro-from-jojos-bizarre-adventure-padoru-jojos-bizarre - Copy.png" alt="" id="database-image">
            <h4>Sparring</h4>
            <p>
                Sign up and face off for prizes and glory!
            </p>
        </div>
    </section>
   
    <section class="row">
        <div class="col-12 col-md-6">
            <img src="../static/Image/112321321 - Copy.jpg" alt=" deathly-hallows Image" id="Deathly-Image">
        </div>
        <div class="col-12 col-md-6">
            <h4>Fight off Dio</h4>
            <p>
            Team up with other stand user and go against Dio. To save the world!
            </p>
            <div>
                <button class="btn btn-primary">Battle</button>
                <button class="btn btn-primary">Train</button>
            </div>
        </div>
    </section>
    <!-- End of Community Section -->
    <!-- Start of Footer Section -->
    <footer class="row" id="footer">
        <div class="col-2 col-md-2">
            <img src="../static/Image/143-1431453_http-vignette3-wikia-nocookie-act-3-key-art - Copy.png" alt="snitch" id="footer-logo">
        </div>
        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Stardust Crusaders</h4>
                <p>Diamond is Unbreakable</p>
                <p>Vento Aureo</p>
                <p>Stone Ocean</p>
                <p>Steel Ball Run</p>
                <p>JoJolion</p>
            </div>
        </div>
        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Stardust Crusaders</h4>
                <p>Diamond is Unbreakable</p>
                <p>Vento Aureo</p>
                <p>Stone Ocean</p>
                <p>Steel Ball Run</p>
                <p>JoJolion</p>
            </div>
        </div>
        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Stardust Crusaders</h4>
                <p>Diamond is Unbreakable</p>
                <p>Vento Aureo</p>
                <p>Stone Ocean</p>
                <p>Steel Ball Run</p>
                <p>JoJolion</p>
            </div>
        </div>
        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Stardust Crusaders</h4>
                <p>Diamond is Unbreakable</p>
                <p>Vento Aureo</p>
                <p>Stone Ocean</p>
                <p>Steel Ball Run</p>
                <p>JoJolion</p>
            </div>
        </div>
        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Stardust Crusaders</h4>
                <p>Diamond is Unbreakable</p>
                <p>Vento Aureo</p>
                <p>Stone Ocean</p>
                <p>Steel Ball Run</p>
                <p>JoJolion</p>
            </div>
        </div>

    </footer>
</div>




{% endblock content %}